.overlay {
    visibility: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(black, transparent);
}

.overlay .fade-in {
    display: block;
}

.overlay .fade-out {
    display: none;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: hidden;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 400ms ease-in-out forwards;
}